body{
    font-family: Ubuntu Mono, monospace;
    background-color: black;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: white;
}

h3{
    margin-bottom: 0;
}

div{
    text-align: center;
    color: black;
}

input{
    padding: 10px;
    margin: 25px 0 25px 0;
}

#guess-container{
    background-color: black;
    position:sticky;
    top: 0;
    z-index: 1;
}

#guess-box{
    width: 30%;
    border-radius: 25px;
}

#lyrics-container{
    width: 100%;
}

.lyric{
    user-select: none;
    border: 1px solid yellow;
    width: 20%;
    position: relative;
    left: 40%;
    z-index: 0;
    border-radius: 25px;
    margin-bottom: -1px;
}

@media screen and (max-width: 600px) {
    .lyric{
        width: 90%;
        left: 5%;
    }
    #guess-box{
        width: 90%;
    }
}